[submodule "vendor/github.com/aws/aws-sdk-go"]
	path = vendor/github.com/aws/aws-sdk-go
	url = https://github.com/aws/aws-sdk-go
[submodule "vendor/github.com/coreos/go-systemd"]
	path = vendor/github.com/coreos/go-systemd
	url = https://github.com/coreos/go-systemd
[submodule "vendor/github.com/statsd/client"]
	path = vendor/github.com/statsd/client
	url = https://github.com/statsd/client
[submodule "vendor/github.com/statsd/datadog"]
	path = vendor/github.com/statsd/datadog
	url = https://github.com/statsd/datadog
[submodule "vendor/github.com/visionmedia/go-debug"]
	path = vendor/github.com/visionmedia/go-debug
	url = https://github.com/visionmedia/go-debug
